.simplebar-vertical {
}
.simplebar-scrollbar::before {
  background-color: #5221E6;
  width: 6px;
}
.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

.container{
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 15px;
}
.max-container{
  max-width: $maxWidth;
  margin: 0 auto;  
}

body{
  font-family: $FFS;
  color: $textColor;
  font-size: 16px;
}

.main {
  background-color: #000;
}

.draft-text{
}

.title{
}

.title-bottom{
}

.btn-blac{
  &__img{
  }
}
.btn-white{
  &__img{
  }
}

// *JS стили* ====
._none{
  display: none !important;
}
._hedenMap{
  position: absolute;
  height: 0 !important;
  left: 0;
  bottom: 200px;
  z-index: -1;
}
.unselectable {
  -webkit-touch-callout: none; 
  -webkit-user-select: none;   
  -khtml-user-select: none;    
  -moz-user-select: none;      
  -ms-user-select: none;       
  user-select: none;           
}
.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  padding: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}

.nowrap {
  white-space: nowrap;
}
// ====